@{
    ViewData["Title"] = "Liste des Postes";
}
<h1>@ViewData["Title"]</h1>
<style>
#contenue{
    margin-top:10%;
    margin-left:30%;
} 
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Style pour les en-têtes */
thead th {
    background-color: #3498db;
    color: #fff;
}

/* Style pour les lignes impaires */
tr:nth-child(odd) {
    background-color: #f5f5f5;
}

/* Style pour les cellules "Salaire" */
td:nth-child(4) {
    font-weight: bold;
}

/* Style pour les cellules "Métier" */
td:nth-child(5) {
    color: #27ae60;
    font-style: italic;
}

    </style> 
    <div id="contenue">
    <table>
        <tr>
            <th>Poste</th>
            <th>Effectif</th>
            <th>Date fin postule</th>
            <th>  </th>
        </tr>
        @if (ViewBag.Listeposteeff != null)
        {
            @for(int i = 0; i < ViewBag.Listeposteeff.Length; i++){
            <tr>
                <td>@ViewBag.Listeposteeff[i].idDemande</td>
                <td>@ViewBag.Listeposteeff[i].effectif</td>
                <td>@ViewBag.Listeposteeff[i].datefinpostule</td>
                <td><a href="EditCV" class="edit-link">Editer un CV</a></td>
            </tr>
            }
             }
        else
        {
            <p>Les données ne sont pas disponibles.</p>
        }
        <!-- Ajoutez plus de lignes ici pour plus d'employés -->
    </table>
    </div>
