@{
    ViewData["Title"] = "Bienvenue sur notre site";
}
<h1>@ViewData["Title"]</h1>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <div class="container">
            <a href="@Url.Action("EmployeListe", "Accueil")" class="view-button">Voir les employés</a>
            <a href="@Url.Action("insertionDemande", "EMploye")" class="view-button">Envoyer une nouvelle demande</a>
        </div> 
<style>

    .container {
    text-align: center;
    padding: 30px;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* Ajout d'un fond blanc pour un meilleur contraste */
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.view-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;
}

a:hover {
    background-color: #0056b3;
    color:#fff;
}

</style>