@{
    ViewData["Title"] = "Liste des employes dans Departement XX";
}
<h1>@ViewData["Title"]</h1>
<style>
      /* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Style pour les en-têtes */
thead th {
    background-color: #3498db;
    color: #fff;
}

/* Style pour les lignes impaires */
tr:nth-child(odd) {
    background-color: #f5f5f5;
}

/* Style pour les cellules "Salaire" */
td:nth-child(4) {
    font-weight: bold;
}

/* Style pour les cellules "Métier" */
td:nth-child(5) {
    color: #27ae60;
    font-style: italic;
}

    </style> 
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>Salaire</th>
            <th>Métier</th>
        </tr>
<<<<<<< Updated upstream:Views/Employe/EmployeListe.cshtml
        <tr>
            <td>Smith</td>
            <td>John</td>
            <td>10/05/1980</td>
            <td>50000 €</td>
            <td>Développeur</td>
        </tr>
        <tr>
            <td>Doe</td>
            <td>Jane</td>
            <td>15/12/1992</td>
            <td>60000 €</td>
            <td>Designer</td>
        </tr>
=======
        @for (int i = 0; i < ViewBag.ListeEmp.Length; i++){
            <tr>
                <td>@ViewBag.ListeEmp[i].idEmp</td>
                <td>John</td>
                <td>10/05/1980</td>
                <td>50000 €</td>
                <td>Développeur</td>
            </tr>
        }
>>>>>>> Stashed changes:Views/Accueil/EmployeListe.cshtml
        <!-- Ajoutez plus de lignes ici pour plus d'employés -->
    </table>
